%h1 Blogs
- @blogs.each do |blog|
  %h2= blog.title
  %p= blog.preview
  = link_to blog.title, blog_path(blog)
  = link_to "Edit", edit_blog_path(blog) if admin?
= link_to "New Post", new_blog_path if admin?
    
